<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/schema/security">

<head>
<!-- <meta http-equiv="Content-Type" content="text/html" /> -->
<!-- <meta charset="utf-8" /> -->
<meta name="viewport" content="width=device-width" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5.css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link type="text/css" rel="stylesheet"
	href="../../resources/css/sidebar.css"
	data-th-href="@{/resources/css/sidebar.css}" />

<link type="text/css" rel="stylesheet"
	href="../../resources/css/style.css"
	data-th-href="@{/resources/css/style.css}" />

<script type="text/javascript" src="../../resources/js/sidebar.js"
	data-th-src="@{/resources/js/sidebar.js}"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<title>Loris</title>
</head>

<script type="text/javascript">
	function doAjax(object) {
		$.ajax({
			mimeType : "text/html; charset=UTF-8",
			url : 'time.html',
			data : ({
				name : object
			}),
			success : function(data) {
				$('#' + object + 'paneldemo').html(myFirst(data));
			}

		});
	}

	function myFirst(o) {
		var i = JSON.parse(o);
		var s = "";
		for ( var r in i) {
			var z = "#" + i[r].id + "panel";
			s += "<p> <a href=" + z + ">" + i[r].title + "</a></p> \n ";
		}
		return s;
	}

	window.addEventListener("hashchange", function() {
		scrollBy(0, -60)
	})
</script>

<body>

	<div th:replace="fragments/head :: head"></div>
	<div class="container">


		<div class="col-md-9">
			<section id="top">
				<h1>Hírek</h1>
			</section>

			<div class="panel-group" id="accordion">
				<div th:each="q,iterStat : ${feList}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion"
									th:href="'#' + ch + ${iterStat.index}"
									th:text="${q[iterStat.index].channel.title}">1. What is
									HTML?</a>
							</h4>
						</div>
						<div th:id="ch + ${iterStat.index}"
							class="panel-collapse collapse">
							<div th:each="a : ${q}">
								<div th:id="${a.id} + panel" class="panel-body">

									<button type="button" class="btn btn-info btn-block"
										data-toggle="collapse" th:attr="data-target='#'+${a.id}"
										th:onclick="'doAjax(\'' + ${a.id} + '\');'">
										<strong th:name="${a.id} + alma" th:text="${a.title}"></strong>
									</button>

									<div th:attr="id=${a.id}" class="collapse well container-fluid">
										<p th:text="${a.publishDate}">Magyar időre átállítani!!</p>
										<div id="time" th:each="c : ${tList}">
											<p th:text="${c.title}"></p>
										</div>
										<p th:text="${a.content}" class="jumbotron text-justify"></p>
										<p>
											Tovább az oldalra: <a th:attr="href=${a.link}"
												th:text="${a.link}"> </a>
										</p>


										<p>Hasonló cikkek:</p>
										<div th:id="${a.id} + paneldemo"></div>
										<p>Itt visszaad 5 cikket, amiben szerepelnek a
											kiválogatott topicok</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<section id="bottom"></section>
		</div>

		<div class="col-md-3 scrollspy">
			<div class="nav hidden-xs hidden-sm" data-spy="affix" id="nav">
				<a href="#top">top</a>
				<div th:each="b : ${cList}">
					<a th:attr="href='#' + ${b.id}"> <span th:text="${b.title}">
					</span>
					</a>
					<!--  <ul id="nav" class="nav hidden-xs hidden-sm" data-spy="affix">
					<li><a href="#web-design">Web Design</a></li>
					<li><a href="#web-development">Web Development</a>
						<ul class="nav">
							<li><a href="#ruby"> <span
									class="fa fa-angle-double-right"></span>Ruby
							</a></li>
							<li><a href="#python"> <span
									class="fa fa-angle-double-right"></span>Python
							</a></li>

						</ul></li>

				</ul> -->
				</div>
				<a href="#bottom">bottom</a>
			</div>
		</div>






		<!-- 						<button type="button" class="btn btn-info" data-toggle="collapse" -->
		<!-- 					data-target="#demo">Simple collapsible</button> -->
		<!-- 				<div id="demo" class="collapse" th:text="${a.content}">Lorem -->
		<!-- 					ipsum</div> -->

	</div>
</body>
</html>



<!-- SideMenu -->
<!-- 		<div class="bs-docs-sidebar"> -->
<!-- 			<div class="collapse navbar-collapse navbar-right"> -->
<!-- 				<ul class="nav nav-list bs-docs-sidenav affix"> -->
<!-- 					<li><a class="dropdown-toggle" data-toggle="dropdown" href="#"> -->
<!-- 							<i class="icon-user"></i>Csatornák <span class="caret"></span> -->
<!-- 					</a> -->
<!-- 						<ul class="dropdown-menu" role="menu"> -->
<!-- 							<li role="presentation"><a id="logout" href="#">Sign Out</a></li> -->
<!-- 						</ul></li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 		</div> -->