<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>PetClinic :: a Spring Framework demonstration</title>
</head>
<body>
	<p>hello</p>
	<h3>
		<p th:utext="${serverTime}"></p>
		time
	</h3>
	<form action="#" th:action="@{/processForm}" th:object="${foo}"
		method="post">
		<input type="text" th:field="*{link}" /> <input type="submit" />
	</form>
</body>

</html>
