<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/schema/security">

<head th:include="fragments/head :: head"></head>
<body>

	<div id="navbarfragment" th:include="fragments/navbar :: navbar"></div>

	<div class="container">
		<h1 th:text="#{home.welcome}" class="text-center page-header">Welcome to
			Loris!</h1>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="register-form-link"
									th:text="#{home.register}">Register</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="login-form-link" th:text="#{home.present}">Present</a>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div id="login-form" style="display: none;">
									<p>alma</p>
								</div>

								<form id="register-form" th:action="@{/register}"
									th:object="${user}" method="post" role="form"
									style="display: block;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1"
											th:field="*{username}" class="form-control"
											th:placeholder="#{home.username}" value="" />
										<p th:if="${#fields.hasErrors('username')}"
											th:errors="*{username}">Incorrect date</p>
									</div>
									<div class="form-group">

										<input type="text" name="name" id="name" tabindex="1"
											th:field="*{fullname}" class="form-control"
											th:placeholder="#{home.name}" value="" />

										<p th:if="${#fields.hasErrors('fullname')}"
											th:errors="*{fullname}">Incorrect date</p>
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1"
											th:field="*{email}" class="form-control"
											th:placeholder="#{home.email}" value="" />

										<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect
											date</p>
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password"
											th:field="*{password}" tabindex="2" class="form-control"
											th:placeholder="#{home.password}" placeholder="Password" />
										<p th:if="${#fields.hasErrors('password')}"
											th:errors="*{password}">Incorrect date</p>
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password"
											id="confirm-password" th:field="*{passwordConfirm}"
											tabindex="2" class="form-control"
											th:placeholder="#{home.confirmpassword}" />
										<p th:if="${#fields.hasErrors('passwordConfirm')}"
											th:errors="*{passwordConfirm}">Incorrect date</p>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit"
													id="register-submit" tabindex="4"
													class="form-control btn btn-register"
													th:value="#{home.registernow}" />
											</div>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
