<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head"></head>
<body>

	<div id="navbarfragment" th:include="fragments/navbar :: navbar"></div>

	<div class="container">
		<h1 th:text="#{search.title}" class="text-center page-header">Search
			Results</h1>

		<div class="row">
		<a href="javascript:history.go(-1);" class="btn btn-default btn-lg"><span
			th:text="#{search.back}" class="glyphicon glyphicon-circle-arrow-left"></span>
		</a>
		</div>
		
		<!-- news -->
		<div class="row centered-form center-block vertical-center">
			<div class="container col-md-10 col-md-offset-1">
				<div class="panel-group" id="accordion">
					<h2 th:text="#{search.count} + ${feSize}">Found elements: </h2>
					<div th:each="feedMap,iterStat : ${feList}">
						<div th:if="${iterStat.count != 0}">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion"
											th:href="'#' + ch + ${feedMap.key.id}"
											th:text="${feedMap.key.title}">Channel title</a>
									</h4>
								</div>

								<div th:id="ch + ${feedMap.key.id}"
									class="panel-collapse collapse">
									<div th:each="fe : ${feedMap.value}">
										<div th:id="entry + ${fe.id}" class="panel-body">

											<button type="button" class="btn btn-info btn-block"
												data-toggle="collapse" th:attr="data-target='#'+${fe.id}">
												<strong th:name="${fe.id}" th:text="${fe.title}"></strong>
											</button>

											<div th:attr="id=${fe.id}"
												class="collapse well container-fluid">
												<p
													th:text="${#calendars.format(fe.publishDate,'yyyy. MMMM dd. HH:mm')}">0000.00.00
													00:00</p>
												<div id="topic" th:each="t : ${tList}">
													<p th:text="${t.title}"></p>
												</div>

												<p th:text="${fe.content}" class="jumbotron text-justify"></p>
												<p th:text="#{news.forward}">
													Forward to site: <a th:attr="href=${fe.link}"
														th:text="${fe.link}"> </a>
												</p>
												<p></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>