<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<link data-th-href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	type="text/css" rel="stylesheet" />
<link type="text/css" rel="stylesheet"
	data-th-href="@{/resources/css/register.css}" />
<link type="text/css" rel="stylesheet"
	data-th-href="@{/resources/css/style.css}" />

<script th:src="@{https://code.jquery.com/jquery-2.1.4.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script src="https://code.jfeedMapuery.com/jfeedMapuery-2.1.4.min.js"></script>
<script type="text/javascript"
	data-th-src="@{/resources/js/register.js}"></script>
<script type="text/javascript" data-th-src="@{/resources/js/ajax.js}"></script>

<title th:text="#{loris.title}">Loris</title>
</head>

</html>