<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="navbar">
		<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".nav-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}" th:text="#{loris.title}">Loris</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a th:text="#{header.home}" href="#" th:href="@{/}">Home</a></li>
						<li><a th:text="#{header.news}" href="#" th:href="@{/news}">Feeds</a></li>
						<li><a th:text="#{header.channels}" href="#"
							th:href="@{/channels}">Channels</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li th:if="${#authorization.expression('!isAuthenticated()')}"><a
							href="../sign.html" th:href="@{/sign.html}"
							th:text="#{header.signin}">Sign in</a></li>
						<li th:if="${#authorization.expression('isAuthenticated()')}">
							<span class="navbar-text" th:text="${#authentication.name}">User</span>
						</li>
						<li th:if="${#authorization.expression('isAuthenticated()')}">
							<a th:text="#{header.logout}" th:href="@{/logout}">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>